501 BITMAP "up.bmp"
502 BITMAP "down.bmp"
503 BITMAP "left.bmp"
504 BITMAP "right.bmp"
512 BITMAP "Minimize.bmp"
513 BITMAP "Maximize.bmp"
514 BITMAP "Settings.bmp"
516 BITMAP "upup.bmp"
517 BITMAP "downdown.bmp"
518 BITMAP "leftleft.bmp"
519 BITMAP "rightright.bmp"
526 BITMAP "Indirect.bmp"
527 BITMAP "DirectRecord.bmp"
528 BITMAP "DirectNoRecord.bmp"
529 BITMAP "loadurl.bmp"
530 BITMAP "backurl.bmp"
531 BITMAP "ManualControlAction.bmp"
532 BITMAP "ManualControlAction1.bmp"
533 BITMAP "ManualControlAction2.bmp"
534 BITMAP "ManualControlAction3.bmp"
535 BITMAP "BrowserTabs.bmp"
536 BITMAP "menu.bmp"
537 BITMAP "BrowserMenu.bmp"
538 CURSOR "TouchCursor.cur"

